<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nana</a>
    </div>
    <div class="navbar-collapse collapse">
      <form role="form" action="/page/<%= @page.id %>" method="post" class="form-inline form-save">
        <div class="form-group">
          <!--<label for="title">Title</label>-->
          <input type="text" class="form-control" id="title" placeholder="New page" value="<%= @page.title %>">
        </div>
        <div class="form-group">
          <!--<label for="slug">Slug</label>-->
          <input type="text" class="form-control" id="slug" placeholder="new-page" value="<%= @page.slug %>">
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="submit" class="save btn btn-danger">Destroy</button>
        <a class="btn btn-link" href="/pages">All pages</a>
        <textarea type="hidden" id="content" name="content" style="display: none;"></textarea>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container editor">
  <% if @page.errors.any? %>
    <%= @page.errors.messages %>
  <% end %>

  <div class="g-body">
  <article class="content" contenteditable="true">
    <%= @page.content %>
  </article>
  </div>
</div>


<!-- grande.js section -->

<link href="/grande/css/menu.css" rel="stylesheet">
<link href="/grande/css/editor.css" rel="stylesheet">

<style>
    .container.editor {
        padding-top: 100px;
    }

    .options button {
        width: 26px;
        font-family: Georgia, serif;
    }

    .form-save {
        margin-top: 7px;
    }
</style>

<script type="text/javascript" src="/grande/js/grande.js"></script>
<script type="text/javascript">
    grande.bind(document.querySelectorAll(".content"));

    document.querySelector(".save").addEventListener("click", function (e) {
        var article = document.querySelector(".content");
        var content = article.innerHTML;

        document.querySelector("#content").value = content;
      }
    );
</script>
